<style>
      * {
        box-sizing: border-box;
      }
      /*BODY TEXT*/
      body {
        font-family:Georgia;
        color: #05386B;
        padding: 10px;
        background: #379683;
      }
      /* HEADER */
      .header {
        padding: 30px;
        text-align: center;
        background: #5cdb95;
      }
      .header h1 {
        font-size: 35px;
        color: #EDF5E1;
      }

      /*ACCOUNT CARDS*/
      /* Left column */
      .leftcolumn {
        float: left;
        padding-left: 40px;
        width: 50%;
      }

      /* Right column */
      .rightcolumn {
        float: right;
        width: 25%;
        padding-right: 40px;

      }

      .account {
        background-color: #EDF5E1;
        padding: 40px;
        margin-top: 40px;
        width: 75%;
      }

      .column {
        background-color: #EDF5E1;
        padding: 40px;
        margin-top: 40px;
        width: 95%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /*TOP LINK BAR*/
      .topnav {
        overflow: hidden;
        background-color: #EDF5E1;
      }

      .topnav a{
            float: left;
            display: block;
            color: #379683;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
      }
      .topnav2 a{
            float: left;
            display: block;
            color: #EDF5E1;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
      }

/*FOR DISPLAYING TABLES*/
      #customers {
             font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
             border-collapse: collapse;
             width: 100%;
      }
      #customers td, #customers th {
             border: 2px solid #ddd;
             padding: 8px;
      }

      #customers tr:hover {background-color: #ddd;}

      #customers th {
             padding-top: 12px;
             padding-bottom: 12px;
             text-align: left;
             background-color: #379683;
             color: white;
      }
      .display {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
             border-collapse: collapse;
             width: 100%;
      }

/*FORM BEGIN*/
      .loginform{
            box-sizing: border-box;
        margin-left: 30%;
        margin-right: 5%;
        background: #FFFFE0;

        text-align: center;

        float: left;
        padding:20px;
        width: 40%;
        height: 55%;
      }

      select {
            font-family:Georgia;
            font-size: 14px;
            width: 50%;
            height: 35px;
            padding: 5px 10px;
              margin: 8px 0;
              box-sizing: border-box;
      }

      input {
            font-family:Georgia;
            font-size: 16px;
            width: 50%;
            height: 35px;
            padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;
      }

      button[type=submit] {
        background-color: #379683;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
/*FORM END*/

/* Change color on hover */
.topnav a:hover {
  background-color:  dodgerblue;
  color: white;
}
.topnav2 a:hover {
  background-color:  dodgerblue;
  color: white;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
