<style>
      * {
        box-sizing: border-box;
      }
/*BODY TEXT*/
      body {
        font-family:monospace;
        color: #05386B;
        padding: 10px;
        background: #379683;
        margin: 0;
      }
/* HEADER
      .header {
        padding: 30px;
        text-align: center;
        border-style: solid;
        border-width: thick;
        border-color: lightyellow;
        border-radius: 25px;
        background-image:url("https://image.shutterstock.com/image-vector/natural-forest-trees-mountains-horizon-260nw-1588730179.jpg");
      }
      .header h1 {
        font-size: 50px;
        font-weight: bold;
        color: lightyellow;
        font-family: monospace;
      } */

/*ACCOUNT CARDS*/
/* Left column */
      .leftcolumn {
        float: left;
        padding: 30px;
        width: 40%;
        height: 30%;

        border-style: solid;
        border-width: thick;
        border-color: lightyellow;
        border-radius: 25px;
      }

/* Right column */
      .rightcolumn {
        float: right;
        padding: 30px;
        width: 40%;
        height: 30%;

        border-style: solid;
        border-width: thick;
        border-color: lightyellow;
        border-radius: 25px;
      }


/*BEGIN:Picture on bottom of homepage*/
      .container {
        position:sticky;
        width: 60%;
      }
      .image {
        display: table;
        width: 100%;
        height: 100%;
        border-radius: 15%;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        border-radius: 10%;
        background-image:url("960x0.jpg");
      }
      .container:hover .overlay {
        opacity: 1;
      }
      .text {
        color: white;
        font-family: monospace;
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .column {
        float: right;
        height: 40%;
        width: 25%;
        padding: 5px;
        margin: 3%;
      }
/*END:Picture on bottom of homepage*/


      .account {
        background-color: #EDF5E1;
        padding: 20px;
        margin-top: 20px;
      }
      .account a{
            float: left;
            display: block;
            background-color: #5cdb95;
            color: #EDF5E1;
            text-align: center;
            text-decoration: none;
      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

/*TOP LINK BAR*/
  .topnav {
    overflow: hidden;
    background-color: #EDF5E1;
  }
  .topnav2 {
    overflow: hidden;
    background-color:  #5cdb95;
  }
  .topnav a{
		float: left;
		display: block;
		color: #379683;
		text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
  .topnav2 a{
    float: left;
    display: block;
    color: #EDF5E1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change color on hover */
  .topnav a:hover {
      background-color:  #F7C331;
      color: white;
  }
  .topnav2 a:hover {
      background-color:  #F7C331;
      color: white;
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
      /*Dropdown button stuff*/
      	.dropbtn{
      	  background-color: #F7882F ;
      	  font-family: Arial;
      	  color: white;
      	  font-size: 20px;
      	  border: none;
      	  cursor: pointer;
          padding: 10px 16px;
      	}
      	.dropdown{
      	  font-family: Arial;
      	  position: absolute;
      	  display: block;
      	  padding: 15px;
      	  text-align: center;
      	}
      	.dropdown-content{
      	  display: none;
      	  position: absolute;
      	  background-color: lightyellow;
      	  min-width: 10px;
      	  box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.2);
      	}
      	.dropdown-content a{
      	  color: black;
      	  text-decoration: none;
      	  display: block;
      	}
      	.dropdown-content a:hover {
      		background-color: #F7C331;
      	}
      	.dropdown:hover .dropdown-content {
      	  display: block;
      	}
      	.dropdown:hover .dropbtn{
      		background-color:  #F7C331;
      	}


/*BEGIN: SIDE MENU STUFF*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightyellow;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*END: SIDE MENU STUFF*/

/*BEGIN: Header*/
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  background-image:url("https://image.shutterstock.com/image-vector/natural-forest-trees-mountains-horizon-260nw-1588730179.jpg");
}
.header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  position:relative;
  left: 35%;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.active {
  background-color: dodgerblue;
  color: white;
  margin-top: 40px;
}
.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*END: Header*/

</style>
