/* html
{
  height: 100%;
  width: 100%;
} */
body
{
  background: #FFFFE0;
  /* height: 100%
  width: 100%; */

}

h1
{
  color: white;
  font-size: 70px;
  font-family: Ariel;
  margin-left: 1px;
  margin-right: 90px;
  background: #90EE90;
  text-emphasis-position: below;
  width: 1400px;
  height: 350px;
  text-align: center;
  margin-bottom: 10px;
  background-image:url("https://image.shutterstock.com/image-vector/natural-forest-trees-mountains-horizon-260nw-1588730179.jpg");
  background-repeat: no-repeat;
  background-size: 1405px 410px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #004080;
  border-style: outset;
  position: float;
}
.column1
{
  position: float;
  float: left;
  margin-left: 13px;
  margin-right: 10px;
  margin-top: auto;

}
.column2
{
  position: float;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: auto;
}

#box1
{
  background-color: lightgreen;
  height: 280px;
  width: 320px;
  border-color: #00b359;
  border-style: outset;
  /* margin-left:20px;
  margin-right: 10px;
  margin-top: 10px; */
}

#box2
{
  background:lightgreen;
  /* margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px; */
  width: 320px;
  height: 300px;
  border-color: #39ac73;
  border-style: groove;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box3
{
  height: 280px;
  width: 320px;
  border-color: black;
  border-style: outset;
  /* margin-left:10px;
  margin-right: 20px;
  margin-top: 0px; */

}
#box4
{
  background:lightgreen;
  /* margin-left: 20px;
  margin-right: 10px;*/
  margin-top: 2px;
  width: 320px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #39ac73;
  border-style: outset;
}


 #form
{ position: float;
  background-color: lightgreen;
  height: 600px;
  width: 700px;
  margin-right: auto;
  margin-left:  auto;
  border-color: #39ac73;
  border-style: outset;

}

.form-group
{
  position: float;
}

label
{
  font-family: Ariel;
  font-size: 10px;
  color: white;
  font-size: 30px;
  color: #333;
  height: 20px;
  width: 150px;
  margin-top: 50px;
  margin-left: 100px;
  text-align: justify;
  margin-right: 0px;
  float: left;
}

input
{
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 40px;
}

#submit
{
  font-family: Ariel;
  margin-left: 350px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: lightgreen;
  border-color: #39ac73;
  border-style: outset;
}

<<<<<<< HEAD
=======
@media screen and (max-height: 450px) {
  .column1 {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: auto;
  }
  .column2
  {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: auto;
  }

>>>>>>> 52a844dc16b96b370d1c54d6ddf47dad911eefe3
}
