
body
{
  background: #FFFFE0;
}

h1
{
  color: white;
  font-size: 50px;
  font-family: Ariel;
  margin-left: 200px;
  background: #90EE90;
  width: 1020px;
  height: 300px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 100px;
  background-image:url("https://image.shutterstock.com/image-vector/natural-forest-trees-mountains-horizon-260nw-1588730179.jpg");
  background-repeat: no-repeat;
  background-size: 1020px 350px;
  background-position: center;
}

 #form
{
  background-color: lightgreen;
  height: 600px;
  width: 1030px;
  margin-right: auto;
  margin-left:  auto;
  margin-top: 0px;

}

label
{
  font-family: Ariel;
  font-size: 50px;
  color: white;
  font-size: 30px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 40px;
  margin-left: 240px;
  text-align: justify;
  margin-right: 0px;
  float: left;
}

input
{
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 55px;
  margin-left: 80px;
  margin-right: 40px;
}

#submit
{
  font-family: Ariel;
  margin-left: 350px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: lightgreen;
  border-color: green;
}
