
.heading
{
  font-size: 50px;
  line-height: 200%;
  text-align: center;
  background-color: #00e673;
  border-radius: 10px;
  border-width: 40%;
  height: 100px;
  margin-left: 25%;
  margin-right: 25%;
  background-position: center;
  margin-bottom: 5%;
}

 .custom-select
{
  font-size: 20px;
  background-color: #00e673;
  border-radius: 10%;
  margin-right: auto;
  margin-left:  auto;
  line height: 0%;
  width: 35%;
}

.titleSize
{
  font-family: Ariel;
  margin-left: 35%;
  float: left;

}
/* #transferAmnt
{
  /* margin-bottom: 10%; */
  /* margin-left: 30%;
  margin-right: 25%;
}*/

 .size {
  margin-left: 35%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#submit
{
  font-family: Ariel;
  background-color: #53c68c;
  width: 30%;

}
